@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* afecta a todo el documento */

* {
    padding: 0%;
    margin: 0%;
    /* border-style: solid; */
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

/* iconos con efecto */

.cabecera .inicio--up {
    color: #ffffff;
    font-size: 22px;
    border-radius: 200px;
    position: fixed;
    bottom: 50px;
    right: -150px;
    transition: 0.5s;
    padding: 11px 12px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);
    cursor: pointer;
    background-color: #fca311;
}

.musica {
    color: #ffffff;
    font-size: 20px;
    border-radius: 200px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: 0.5s;
    padding: 11px 15px;
    box-shadow: 0px 0px 3px 0px white;
}

.musica:hover {
    cursor: pointer;
    background-color: #fca311;
}


/* barra de navegacion */

.cabecera .cabecera--navegar {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: fixed;
    display: flex;
    background-color: black;
}

.cabecera--navegar .cabecera--navegar--icono{
    display: none;
}
.cabecera--menu {
    width: 100%;
    display: flex;
    justify-content: end;
    list-style-type: none;
}


.cabecera--menu li {
    padding: 35px 60px;
    transition: 0.3s;
}

.cabecera--menu li:hover {
    background-color: rgb(66, 66, 66);
    padding: 35px 100px;
}

.cabecera--menu li a {
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.2s;
}

.cabecera--menu li a:hover {
    text-shadow: 1px 1px 0px rgb(255, 0, 0);
}

@keyframes mostrarMenu {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

@keyframes ocultarMenu {
    from {
        top: 0px;
    }

    to {
        top: -100px;
    }
}

@keyframes mostrarMenuMovil {
    from {
        top: -500px;
    }

    to {
        top: 0px;
    }
}

@keyframes ocultarMenuMovil {
    from {
        top: 0px;
    }

    to {
        top: -500px;
    }
}

.cabecera nav img {
    width: 100px;
}

.cabecera nav .cabecera--navegar--logo {
    margin-left: 50px;

}

/* titulo o cabecera de la web */

.cabecera--img {
    background: url('../multimedia/img1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera--img h1 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 12px rgb(29, 29, 29);
    animation: zoom 3.5s;
    /* aplica la animación "zoom" durante 5 segundos */
}

.cabecera--img p {
    font-weight: 600;
    font-size: 19px;
    color: white;
    text-shadow: 0px 0px 12px rgb(29, 29, 29);
}

.cabecera--img--reloj {
    font-size: 30px !important;
    padding: 20px;
    margin-top: 20px;
    text-shadow: 1px 1px 0px rgb(255, 0, 0) !important;
    padding-bottom: 20vh;
}

.cabecera--img i {
    color: white;
    padding: 10px;
    font-size: 40px;
    transition: 0.4s;
}

.cabecera--img i:hover {
    text-shadow: 0px -15px 0px rgb(252, 252, 252) !important;
}

/* sobre mi */

#sobreMi {
    background-color: #F4F5F5;
}

.sobreMi {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#sobreMi .sobreMi--flechaUp {
    width: 40px;
    display: block;
    margin: 0px auto;
    padding: 80px 0 40px;
    font-size: 40px;
    transition: 0.4s;
    color: #191619;
}

#sobreMi .sobreMi--flechaDown {
    width: 40px;
    display: block;
    margin: 0px auto;
    padding: 40px 0 80px;
    font-size: 40px;
    transition: 0.4s;
    color: #191619;
}

#sobreMi .sobreMi--flechaDown:hover {
    text-shadow: 0px -15px 0px #191619 !important;
}

#sobreMi .sobreMi--flechaUp:hover {
    text-shadow: 0px 15px 0px #191619 !important;
}

.sobreMi div {
    padding: 50px;
    width: 35%;
}

.sobreMi--inf {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sobreMi--inf img {
    box-shadow: 0px 0px 4px 0px #191619;

}

.sobreMi--desc h3 {
    font-size: 35px;
    padding: 10px 0 20px 0;
    color: #191619;

}

.sobreMi--desc p {
    font-weight: 500;
    line-height: 23px;
    font-size: 18px;
}

/* habilidades */

.habilidades{
    background-color: #dfdfdf;
    padding: 20px;
    box-sizing: border-box;
}
.habilidades--iconos{
    margin: 0 auto;
    width: 50%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.habilidades--iconos i{
    margin: 30px;
    color: rgb(53, 53, 53);
    font-size: 100px;
    transition: 0.2s;
    padding: 20px;
    border-radius: 17px;
}

.habilidades--iconos i:hover{
    transform: scale(1.1);
    background-color: rgb(53, 53, 53);
    color: #dfdfdf;
    box-shadow: 0px 0px 4px black;

}


.habilidades .habilidades--flechaUp {
    width: 40px;
    display: block;
    margin: 0px auto;
    padding: 80px 0 40px;
    font-size: 40px;
    transition: 0.4s;
    color: rgb(53, 53, 53);
}

.habilidades .habilidades--flechaDown {
    width: 40px;
    display: block;
    margin: 0px auto;
    padding: 40px 0 80px;
    font-size: 40px;
    transition: 0.4s;
    color: rgb(53, 53, 53);
}

.habilidades .habilidades--flechaDown:hover {
    text-shadow: 0px -15px 0px rgb(53, 53, 53) !important;
}

.habilidades .habilidades--flechaUp:hover {
    text-shadow: 0px 15px 0px rgb(53, 53, 53) !important;
}
/* contacto */

.contacto{
    background-color: #F4F5F5;
}

.contacto--redes{
    text-align: center;
    padding: 0 0 80px;
}

.contacto--redes h3,i{
    font-size: 35px;
    padding: 20px 0;
    color: #191619;
}

.contacto--redes i{
    color: #F4F5F5;
    background-color: #191619;
    padding: 13px 15px;
    border-radius: 200px;
    margin: 10px;
    border: 1px solid;
    transition: 0.4s;
}

.contacto--redes i:hover{
    background-color: #dd8f10;
    transform: scale(1.1);
}

.contacto--redes i:hover{
    cursor: pointer;
}

.contacto hr{
    width: 50%;
    margin: 0 auto;
}

.contacto--form{
    padding: 0px 0px 80px;
}
.contacto--form h3{
    text-align: center;
    font-size: 35px;
    padding: 80px 0 50px;
    color: #191619;
}

.contacto--form form{
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    border: 2px solid white;
    box-shadow: 0px 0px 4px 0px #191619;
    background-color: rgb(53, 53, 53);
    padding: 20px 0;
}
.contacto--form p{
    font-size: 17px;
    padding: 10px 20px;
}
.contacto--form form label{
    padding: 5px;
    color: #F4F5F5;
}
.contacto--form form input{
    font-weight: 500;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 560px;
    margin-top: 10px;
}
.contacto--form form .boton{
    width: 100px; 
    margin: 10px 10px 0;
    padding: 7px;
    font-weight: 500;
    background-color: black;
    border-radius: 3px;
    color: white;
}
.contacto--form form .envio{
    background-color: #62527d;

}
.contacto--form form textarea{
    padding: 5px 10px;
    box-sizing: border-box;
    resize: none;
    margin-top: 10px;
    width: 560px;
    height: 150px;
}
.contacto .contacto--flechaUp {
    width: 40px;
    display: block;
    margin: 0px auto;
    padding: 80px 0 40px;
    font-size: 40px;
    transition: 0.4s;
    color: rgb(53, 53, 53);
}

.contacto .contacto--flechaDown {
    width: 40px;
    display: block;
    margin: 0px auto;
    padding: 40px 0 80px;
    font-size: 40px;
    transition: 0.4s;
    color: rgb(53, 53, 53);
}

.contacto .contacto--flechaDown:hover {
    text-shadow: 0px -15px 0px rgb(53, 53, 53) !important;
}

.contacto .contacto--flechaUp:hover {
    text-shadow: 0px 15px 0px rgb(53, 53, 53) !important;
}

@media (max-width: 1050px) {

    
    /* menu */

    .cabecera nav img {
        width: 70px;
    }

    .cabecera--navegar{
        border-bottom: 1px solid white;
    }

    .cabecera--navegar--logo{
        width: 30px;
        margin: 10px 30px !important;
    }

    .cabecera .cabecera--navegar--icono > li{
        display: none;
        width: 200px;
        top: 40px;
        background-color: rgb(53, 53, 53);
        position: relative;
        border: 2px solid white;
        border-radius: 12px 0 0 12px;
        text-shadow: 2px 2px 0px black;
        box-shadow: 0px 0px 4px 0px #191619;
        margin-top: 10px;
        right: -1000px;
    }

    .cabecera .cabecera--navegar--icono li a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 17px;
        padding: 10px 0;
        text-decoration: none;
        
    }


    @keyframes aparecer {
        from {
            right: -500px;
        }
    
        to {
           right: 115px;
        }
    }

    @keyframes desaparecer{
        from {
            right: 115px;
        }
    
        to {
           right: -115px;
        }
    }

    /* barra de navegacion */

    .cabecera--menu{
        display: none;
    }

    .cabecera .cabecera--navegar--icono{
        position: absolute;
        right: 40px;
        top: 12px;
        font-size: 27px;
        display: block;
        color: white;
        width: 30px;
    }
    

    /* cabecera */

    .cabecera--img h1 {
        font-size: 50px;
    }

    /* sobre mi */

    .sobreMi{ 
        display: block;
    }

    .sobreMi div{
        width: 100%;
        padding: 0px;
    }

    .sobreMi--inf img{
        margin: 20px auto;
        width: 370px;
        border-radius: 10px;
    }

    .sobreMi--desc{
        text-align: center;
    }

    .sobreMi--desc h3{
        padding: 30px;
    }

    .sobreMi--desc p{
        font-size: 17px;
        padding: 5px 200px;
    }


}

@media (max-width: 912px) {


    /* cabecera titulo */

    .cabecera--img {
        background: url('../multimedia/img2.jpg');
    }
    
    .cabecera--img h1{
        font-size: 30px;
    }

    .cabecera--img p{
        font-size: 11px;
    }

    /* sobre mi */

    .sobreMi--inf img{
        margin: 20px auto;
        width: 200px;
        border-radius: 222px;
    }

    .sobreMi--desc h3{
        font-size: 27px;
        padding: 20px;
    }

    .sobreMi--desc p{
        box-sizing: border-box;
        width: 100%;
        font-size: 15px;
        padding: 5px 50px;
    }

    /* habilidades */

    .habilidades{
        background-color: #dfdfdf;
        padding: 0px;
        box-sizing: border-box;
    }

    .habilidades--iconos{
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .habilidades--iconos i{
        font-size: 90px;
        margin: 20px;
        font-size: 80px;
    }

    .habilidades--iconos i:hover{
    transform: none;
    background-color: transparent;
    color: rgb(53, 53, 53);
    box-shadow: none;
}
    

    /* contacto */

    .contacto--form form{
        width: 300px;
    }

    .contacto--form form input{
        width: 100%;
    }

    .contacto--form form textarea{
        width: 100%;
    }

    .contacto h3{
        font-size: 27px;
    }

    .contacto p{
        font-size: 15px;
    }
}